<section>
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-24 col-sm-offset-0 col-md-offset-0">
      <h2>Analysis constraints and limitations</h2>
      <p>During this review, we encountered limitations that affected the completeness of the analysis:</p>
      <li>The CPU statistics are inaccurate for a few servers because hyper-threading (HT) was enabled on them.</li>
      <li>ION did not receive complete Hardware specifications for a few servers.</li>
      <li>Servers dedicated to host the custom components do not host a Daemon Slave (DS). As a result, the complete server load
          analysis for these servers could not be conducted.</li>
      <li>HSBC did not provide the logs of both the PXE instances running on the sub-Platform.</li>
    </div>
  </div>
</section>